{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Sent</title>
    <link rel="stylesheet" type="text/css" href="{% static 'user_management/style.css' %}">
</head>
<body>
    <div class="container">
        <h2>Password Reset Email Sent</h2>
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <center><h4 style="color: firebrick;">{{message}}</h4></center>
            {% else %}
                <center><h4 style="color: dodgerblue;">{{message}}</h4></center>
            {% endif %}
        {% endfor %}
    {% endif %}
        <p>If the email address you provided is associated with an account, a password reset link has been sent to it. Please check your email for instructions to reset your password.</p>
        
        <div class="links">
            <a href="{% url 'home' %}">Back to Login</a>
        </div>
    </div>
</body>
</html>
